/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
}
.book{
	color:#777777;
}
.author{
	color:#777777;
}
.price{
	color:white;
	width:100%;
	background-color:#2ecc71;
	text-align:center;
}